{% extends "base-template.html" %}

{% block title %}Modifica profilo{% endblock %}
{% block breadcrumbs %}Modifica profilo{% endblock %}
{% block breadcrumbslinks %}Profilo / Modifica profilo{% endblock %}

{% block content %}
  <section class="inner-page">
   <div class="container">

     {% for message in get_flashed_messages() %}
         <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
               {{ message }}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
     {% endfor %}


      <section id="contact" class="contact">
         <div class="container">
            <div class="section-title" data-aos="fade-up">
               <h2>Dati utente</h2>
               <p>Modifica profilo</p>
            </div>
            <div class="row">
               <div class="col-lg-6 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                  <form action="" method="post" role="form" class="email-form">
                     <div class="row">
                            {{ form.hidden_tag() }}
                        <div class="col-md-12 form-group mt-3 mt-md-0">
                             <label>Modifica password:</label>
                            {{ form.password(class="form-control", placeholder=form.password.description) }}
                        </div>
                        <div class="col-md-12 form-group mt-3 mt-md-0">
                            {{ form.password2(class="form-control", placeholder=form.password2.description) }}
                        </div>

                        <div class="col-md-8 form-group mt-3 mt-md-0">
                            <label>Modifica recapito:</label>
                           {{ form.citta(class="form-control",  value=current_user.Citta) }}
                        </div>

                        <div class="col-md-4 form-group mt-3 mt-md-0">
                             <label>Provincia:</label>
                            {{ form.provincia(class="form-control selectMod") }}
                        </div>
                        <div class="col-md-12 form-group mt-3 mt-md-0">
                            {{ form.via(class="form-control", value=current_user.Via) }}
                        </div>
                     </div>
                     <div class="text-left mt-2">
                         {{ form.submit() }}
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>

   </div>
</section>
{% endblock %}


