{% extends "base-template.html" %}

{% block title %}Vedi messaggi{% endblock %}
{% block breadcrumbs %}Vedi messaggi{% endblock %}
{% block breadcrumbslinks %}Profilo / Vedi messaggi{% endblock %}

{% block content %}
  <section class="inner-page">
   <div class="container">

     {% for message in get_flashed_messages() %}
         <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
               {{ message }}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
     {% endfor %}

       <div class="col-lg-4 col-md-6 mt-4 ">
            <ul class="list-group">

                {% for id, dati in users_msg.items() %}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-4 cursor-p"  onclick="window.location='/profilo/messaggia/destinatario/{{ id }}'">
                        <span class="text-muted"> Visuliazza messaggi di <b>{{ dati[0] }}</b></span>
                        <span class="badge bg-primary rounded-pill">{{ dati[1] }}</span>
                    </li>
                 {% endfor %}
            </ul>
       </div>




   </div>
</section>
{% endblock %}



